:root {
    --primary-font: 'Nunito', sans-serif;
    --logo-font: 'Aboreto', sans-serif;
    --primary-bg-color: #FFFFFF;
    --primary-text-color: #212121;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

table {
    box-shadow: 2px 2px 2px 2px hsla(0, 0%, 0%, 0.2);
    margin: 3rem;
    font-family: var(--primary-font);
    border-collapse: collapse;
}

td, th {
    padding: 0.5rem 1rem;
    border: 1px solid #888;
    text-align: center;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.buttoncursor {
    cursor: pointer;
}

.cursor {
    cursor: default;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

body {
    font-family: var(--primary-font);
    background: var(--primary-bg-color);
    color: var(--primary-text-color);
    font-size: 16px;
    letter-spacing: 0.03em;
}

/*-------------- HEADER --------------*/

.page-header{
    background-color: #236167;
    padding: 24px 0;
}

.page-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ukraine-logo {
    font-family: var(--logo-font);
    color: #7886AB;
    font-size: 32px;
}

.aine-logo {
    color: #FEE3A9;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 80px;
}

.link-container{
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.team-table, 
.team-list,
.team-rules,
.telegram-link,
.discord-link {
    color: white;
    font-size: 20px;
}

.team-table:hover,
.team-table:focus,
.team-list:hover,
.team-list:focus,
.team-rules:hover,
.team-rules:focus,
.telegram-link:hover,
.telegram-link:focus,
.discord-link:hover,
.discord-link:focus,
.current {
    color: #7886AB;
}

/*-------------- /HEADER --------------*/

/*-------------- FOOTER --------------*/

.page-footer {
    background: #236167;
    padding: 24px 0;
}

.page-footer-container{
    display: flex;
    justify-content: center;
}

.glory-ukraine {
    font-size: 32px;
    line-height: 48px;
    color: white;
}

.uaflag {
    height: 48px;
    width: 48px;
    margin-left: 10px;
}

/*-------------- /FOOTER --------------*/

/*-------------- MAIN --------------*/

.main-section {
    background: #F0F4F4;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team2-table,
.team3-table {
    background: #FEE7D2;
    table-layout: fixed;
    width: 165px;
}

.team2-caption,
.team3-caption {
    background: #542800;
}

.team2-th,
.team3-th {
    border: 1px solid #542800;
}

.team2-tr,
.team3-tr {
    background: #FFF9F3;
}

.team2,
.team3 {
    font-size: 16px;
    font-weight: 600;
    color: white;
    line-height: 30px;
}

.team1-table,
.team7-table {
    background: #DBDFE9;
    table-layout: fixed;
    width: 165px;
}

.team1-caption,
.team7-caption {
    background: #162755;
}

.team1-th,
.team7-th {
    border: 1px solid #162755;
}

.team1-tr,
.team7-tr {
    background: #FAFAF8;
}

.team1,
.team7 {
    font-size: 16px;
    font-weight: 600;
    color: white;
    line-height: 30px;
}

.team4-table,
.team5-table,
.team6-table,
.team8-table,
.team9-table,
.team10-table {
    background: #FFF2D5;
    table-layout: fixed;
    width: 165px;
}

.team4-caption,
.team5-caption,
.team6-caption,
.team8-caption,
.team9-caption,
.team10-caption {
    background: #A98538;
}

.team4-th,
.team5-th,
.team6-th,
.team8-th,
.team9-th,
.team10-th {
    border: 1px solid #A98538;
}

.team4-tr,
.team5-tr,
.team6-tr,
.team8-tr,
.team9-tr,
.team10-tr {
    background: #FFFBF3;
}

.team4,
.team5,
.team6,
.team8,
.team9,
.team10 {
    font-size: 16px;
    font-weight: 600;
    color: white;
    line-height: 30px;
}

.legend-table {
    background: #F3F7F7;
    margin-left: 4rem;
    margin-right: 4rem;
}

.legend-caption {
    background: #236167;
}

.legend {
    font-size: 16px;
    font-weight: 600;
    color: white;
    line-height: 30px;
}

.legend-th,
.legend-td {
    border: 1px solid #236167;
}

.legend-td {
    background: #236167;
    color: white;
}

.red {
    background: #542800;
    color: white;
}

.blue {
    background: #162755;
    color: white;
}

.yellow {
    background: #A98538;
    color: white;
}

.light-yellow {
    background: #D4B169;
}

/*-------------- /MAIN --------------*/

/*-------------- PEOPLELIST --------------*/

.heroes {
    margin-bottom: 30px;
    font-size: 28px;
}

.list-section {
    background: #9EBABE;
}

.player-trophy {
    font-size: 20px;
    color: gold;
}

/*-------------- /PEOPLELIST --------------*/

/*-------------- RULES --------------*/

.rules-section {
    background: #DAE5E6;
}

.rules-header {
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
}

.rules-text {
    margin-left: 200px;
    margin-right: 200px;
}

.rules-text:not(:last-child){
    margin-bottom: 20px;
}

/*-------------- /RULES --------------*/

/*-------------- SMARTPHONE --------------*/

@media screen and (min-width:375px) and (max-width:415px){
    table {
        margin: 2rem;
    }

    th {
        padding: 0.5rem 0.5rem;
    }

    .section {
        display: flex;
        justify-content: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .main-container{
        flex-direction: column;
        align-items: center;
    }

    .container{
        width:375px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .page-header {
        display: flex;
        justify-content: center;
    }

    .page-footer {
        display: flex;
        justify-content: center;
    }
    
    .page-navigation{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
    }

    .menu {
        flex-direction: column;
        row-gap: 10px;
    }

    .legend-table {
        table-layout: fixed;
        width: 350px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .red {
        background: #542800;
        color: white;
        font-size:14px;
    }
    
    .blue {
        background: #162755;
        color: white;
        font-size: 14px;
        }
    
    .yellow {
        background: #A98538;
        color: white;
        font-size: 14px;
    }

    .rules-text {
        margin: 0;
    }
}

/*-------------- /SMARTPHONE --------------*/